<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    body {
    background-image: url('https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-7709.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
    img {
    mix-blend-mode: multiply;
    }
    </style>
    <meta charset="UTF-8">
    <title>FirstStreet</title>
</head>
<body>
    <select name="disaster" method="GET" action="/" >
        {% for disaster in disasters %}
            <option value="{{disaster}}" SELECTED>{{disaster}}</option>"
        {% endfor %}
    </select>
    
    <select name="region" method="GET" action="/">
        {% for region in regions %}
            <option value="{{region}}" SELECTED>{{region}}</option>"
        {% endfor %}
    </select>

    <form action="{{ url_for('process_data') }}" method="post"> 
        <button type="submit">Generate Plots</button> 
    </form> 

</body>
</html>