<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    h1 {text-align: center;}
    h2 {text-align: left; margin-left: 120px; margin-right: 120px;}
    h3 {text-align: center;}
    body {
    background-image: url('https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-7709.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
    img {
    mix-blend-mode: multiply;
    margin-top: -150px;
    }
    .topleft {
    position: absolute;
    top: 0;
    left: 0;
    }
    </style>
    <meta charset="UTF-8">
    <title>GFS</title>
</head>
<body>
    <h1>
        Animation of Temperature and Relative Humidity forecast up to 96 hours
    </h1>
    <h2>
        The NOAA Global Forecast System (GFS) is a global numerical weather prediction system containing a global computer model and variational analysis run by the U.S. National Weather Service (NWS). The model is divided into 127 vertical layers extending from the surface to the mesopause (~80km). The entire globe is covered by the GFS at a base horizontal resolution of 13 kilometers between grid points. The GFS is run operationally four times a day and produces forecasts for up to 16 days in advance. Hundreds Of atmospheric and land-soil variables are available through this dataset, from temperatures, winds, and precipitation to soil moisture and atmospheric ozone concentration.
    </h2>
    <h3>
        Source : <a href="https://www.emc.ncep.noaa.gov/emc/pages/numerical_forecast_systems/gfs.php">Global Forecast System (GFS)</a> with 1.00 degree spatial resolution
    </h3>
    <a href="{{ url_for('index') }}">
        <i class="fa fa-home" style="font-size: 50px; position: absolute; top: 0; margin-left: 10px;"></i>
    </a>
    <br>
<img src= "{{url_for('static', filename='temp_forecast.gif')}}" width = '48%' style="margin-left: 30px;" />
<img src= "{{url_for('static', filename='relative_humidity_forecast.gif')}}" width = "48%" />
</body>
</html>