<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    h1{
    font-size: 50px;
    text-align: center;
    }
    h2{
    text-align: left;
    margin-left: 120px; 
    margin-right: 120px;
    }
    h3{
    text-align: center;
    }
    body {
    background-image: url('https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-7709.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
    img {
    mix-blend-mode: multiply;
    }
    </style>
    <meta charset="UTF-8">
    <title>GHCN</title>
</head>
<body>
<h1>
    Global Historical Climatology Network - Daily (GHCN-D)
</h1>
<h2>
    GHCN-Daily is a dataset that contains daily observations over global land areas. It contains station-based measurements from land-based stations worldwide, about two thirds of which are for precipitation measurements only (Menne et al., 2012). GHCN-Daily is a composite of climate records from numerous sources that were merged together and subjected to a common suite of quality assurance reviews (Durre et al., 2010).
</h2>
<h3>
    Source : <a href="https://www.ncei.noaa.gov/products/land-based-station/global-historical-climatology-network-daily">https://www.ncei.noaa.gov/products/land-based-station/global-historical-climatology-network-daily</a>
</h3>
<a href="{{ url_for('index') }}">
    <i class="fa fa-home" style="font-size: 50px; position: absolute; top: 0; margin-left: 10px;"></i>
</a>
<br>
<img src= "{{url_for('static', filename='GHCN_dynamic_dashboard.gif')}}" style="margin-left: 120px; margin-top: 30px;" width="40%" height="450px">
<img src= "{{url_for('static', filename='GHCN_static_dashboard.png')}}" style="margin-left: 80px;" width="40%" height="450px">
<a href="GHCN/plotly" style="font-size: 40px; margin-left: 120px;">Interactive chart with Plotly of California</a>
</body>
</html>