<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    h1{
    font-size: 50px;
    text-align: center;
    }
    h2{
    text-align: left;
    margin-left: 120px; 
    margin-right: 120px;
    }
    h3{
    text-align: center;
    }
    body {
    background-image: url('https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-7709.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
    img {
    mix-blend-mode: multiply;
    margin-left: 200px; 
    }
    </style>
    <meta charset="UTF-8">
    <title>Sup3rCC</title>
</head>
<body>
    <h1>
        Sup3rCC
    </h1>
    <h2>
        The Super-Resolution for Renewable Energy Resource Data with Climate Change Impacts (Sup3rCC) data is a collection of 4km hourly wind, solar, temperature, humidity, and pressure fields for the contiguous United States under various climate change scenarios. It utilizes a generative machine learning approach called Sup3r (Super-Resolution for Renewable Energy Resource Data) to downscale Global Climate Model (GCM) data.
    </h2>
    <h3>
        Source : <a href="https://github.com/NREL/sup3r">https://github.com/NREL/sup3r</a>
    </h3>
    <a href="{{ url_for('index') }}">
        <i class="fa fa-home" style="font-size: 50px; position: absolute; top: 0; margin-left: 10px;"></i>
    </a>
    <br>
    <img src= "{{url_for('static', filename='sup3rCC.png')}}" height="1200">
</body>
</html>