<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    h1{
    text-align: center;
    }
    h2{
    text-align: center;
    }
    body {
    background-image: url('https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-7709.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
    img {
    mix-blend-mode: multiply;
    }
    </style>
    <meta charset="UTF-8">
    <title>USGS_Earthquake</title>
</head>
<body>
    <h1>
        United States Geological Survey (USGS) - Earthquakes Data
    </h1>
    <h2>
        Source : <a href="https://www.usgs.gov/programs/earthquake-hazards/earthquakes">https://www.usgs.gov/programs/earthquake-hazards/earthquakes</a>
    </h2>
    <br>
    <img src= "{{url_for('static', filename='earthquake.png')}}" width="100%" height="700" >
    <br>
    <img src= "{{url_for('static', filename='Taiwan.png')}}" width="45%" height="700" style="margin-left: 80px; margin-top: 30px;">
    <img src= "{{url_for('static', filename='Taiwan_2.png')}}" width="45%" height="700" style="margin-left: 100px;">
</body>
</html>